navbar-header
{
/*background-color:gray;*/
}

	form
	{
		width:40%;
		height:auto;
		border:1px solid black;
		padding-left:20px;
		padding-top::20px;
		padding-right:20px;
		padding-bottom:20px;
		/*background-color: gray;*/
	margin: 0 auto;
	margin-top:20px;
	}
